button.litebutton {
  background: -webkit-linear-gradient(#32302d, #4b4947) repeat scroll 0 0
    transparent;
  background: -moz-linear-gradient(#32302d, #4b4947) repeat scroll 0 0
    transparent;
  background: linear-gradient(#32302d, #4b4947) repeat scroll 0 0 transparent;
  border: 0 none;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 0 1px 0 #5b5957 inset, 0 -1px 0 black, 0 1px 0 black,
    -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111111;
  color: #ccc;
  display: inline-block;
  margin: 2px;
  padding: 2px;
  text-shadow: 0 1px 1px black;
  vertical-align: top;
  width: 31.33%;
  height: 25px;
  font-size: 1.3em !important;
}

.litepanel .panel-header,
.litedialog .panel-header {
  font-size: 1em;
  padding: 0.6em 0 0 0.6em;
  background-color: #778;
  background-image: linear-gradient(right, #555, #333);
  background-image: -moz-linear-gradient(right, #555, #333);
  background-image: -webkit-linear-gradient(right, #555, #333);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  width: 100%;
  min-height: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  height: 30px;
}
.litemenubar li {
  font-size: 14px;
  color: #999;
  display: inline-block;
  min-width: 50px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.litemenubar li:hover {
  background-color: #4a5484;
  color: #fff;
}

.litetabs.horizontal > ul.wtabcontainer > li.wtab {
  display: inline-block;
  min-width: 50px;
  min-height: 20px;
  height: calc( 100% - 2px );
  margin-right: 2px;
  margin-top: 2px;
  vertical-align: top;
  padding: 4px 8px 2px 4px;
  border-radius: 0;
}

/*    Tree    */

li.ltreeitem {
  list-style-type: none;
  cursor: pointer;
  /*padding-left: 20px;*/
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height: 24px;
  line-height: 24px;
}
i.ltreeitem div.ltreeitemtitle {
  color: #AAA;
  min-width: 100px;
  white-space: nowrap;
  height: 100%;
}
li.ltreeitem div.ltreeitemtitle {
  color: #AAA;
  min-width: 100px;
  white-space: nowrap;
  height: 100%;
}

/*      Inspector Widget      */

.inspector .wcontent input, .inspector .wcontent textarea {
  color: #999;
  border: 0;
  background-color: transparent;
}

.inspector .dragger input {
  color: #999;
  border: 0;
  background-color: transparent;
}

.inspector .whidden {
  position: relative;
  overflow: hidden;
  color: #999;
}

.inspector .widget {
  vertical-align: top;
  min-height: 1.2em;
  /* user-select: none; */
  height: 2.5em;
}
.inspector .wtitle, .inspector .wsectiontitle {
  display: inline-block;
  position: relative;
  z-index: auto;
  background-color: #555;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 2px;
  padding-left: 8px;
  /* margin-bottom: 4px; */
  color: #dadada;
  font-size: 1.2em;
}

.inspector .switch-section-button {
    float: left;
    display: inline-block;
    margin: 6px 4px -4px 0;
    border-top: 6px solid #333;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
}
